<h1>Home#index</h1>
<% @tags_data.each do |tag_name,count|%>
    <%font_size = count*15%>
    <span style='font-size: <%= font_size >45 ? 45 : font_size%>px'>
        <%= link_to tag_name,contents_path(tags: [tag_name]),style: 'text-decoration: none' %>        
    </span>
<%end%>